/* --- proprietà generali --- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.prime-container{
    width: 80%;
    margin: 10px auto;
}

/* --- header --- */
.header-top img{
    width: 15%;
    padding-right: 20px;
    border-right: 2px solid #e8e8e8;
}

header nav{
    height: 100px;
    line-height: 100px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-right: 10px;
}


/* --- jumbotron --- */
.jumbotron{
    margin: 10px 0;
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.jumbotron .jumbo-content{
    color: white;
    padding: 300px 0 0 30px;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron .jumbo-content .jumbo-text{
    width: 50%;
    font-weight: 300;
}

#jumbo-title{
    font-size: 30px;
}


/* --- main container --- */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.left, .right{
    width: 20%;
}

.center{
    width: calc(60% - 20px);
    margin: 0 10px;
}

.content{
    padding: 10px 0;
}


/* --- footer --- */
footer{
    margin-top: 5px;
}



/* -------- only for debug - TO BE DELETED ---------*/
/* .debug header{
    height: 50px;
    background-color: #e579e6;
}

.debug .jumbotron{
    background-color: #e1d67a;
    height: 350px;
}

.debug .main-container{
    background-color: #0088fc;
}

.debug .top-cont{
    background-color: #abcfe7;
    height: 50px;
}

.debug .float-l{
    height: 400px;
    background-color: #abcfe7;
}

.debug footer{
    background-color: #8801fe;
    height: 40px;
} */